{% import 'jvm-sun-hotspot-macros.jinja' as jvm -%}
# Look for CASSANDRA_HOST and CASSANDRA_PORT to adjust your configuration file.
LoadPlugin java
<Plugin "java">
    JVMARG "-Djava.class.path=/opt/stackdriver/collectd/share/collectd/java/collectd-api.jar:/opt/stackdriver/collectd/share/collectd/java/generic-jmx.jar"
    LoadPlugin "org.collectd.java.GenericJMX"

    <Plugin "GenericJMX">
        <MBean "cassandra_storageservice">
            ObjectName "org.apache.cassandra.db:type=StorageService"
            <Value>
                Type "gauge"
                InstancePrefix "storage_service-load"
                Table false
                Attribute "Load"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "storage_service-exception_count"
                Table false
                Attribute "ExceptionCount"
            </Value>
        </MBean>

        <MBean "cassandra_commitlog">
            ObjectName "org.apache.cassandra.db:type=Commitlog"
            <Value>
                Type "gauge"
                InstancePrefix "commitlog-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "commitlog-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "commitlog-total_size"
                Table false
                Attribute "TotalCommitlogSize"
            </Value>
        </MBean>

        <MBean "cassandra_compactionmanager">
            ObjectName "org.apache.cassandra.db:type=CompactionManager"
            <Value>
                Type "gauge"
                InstancePrefix "compaction_manager-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "compaction_manager-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
        </MBean>

        <MBean "cassandra_stage_MutationStage">
            ObjectName "org.apache.cassandra.request:type=MutationStage"
            <Value>
                Type "gauge"
                InstancePrefix "mutation_stage-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "mutation_stage-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "mutation_stage-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "mutation_stage-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>
        </MBean>

        <MBean "cassandra_stage_ReadRepairStage">
            ObjectName "org.apache.cassandra.request:type=ReadRepairStage"
            <Value>
                Type "gauge"
                InstancePrefix "read_repair_stage-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "read_repair_stage-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "read_repair_stage-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "read_repair_stage-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>
        </MBean>

        <MBean "cassandra_stage_ReadStage">
            ObjectName "org.apache.cassandra.request:type=ReadStage"
            <Value>
                Type "gauge"
                InstancePrefix "read_stage-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "read_stage-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "read_stage-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "read_stage-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>
        </MBean>

        <MBean "cassandra_stage_ReplicateOnWriteStage">
            ObjectName "org.apache.cassandra.request:type=ReplicateOnWriteStage"
            <Value>
                Type "gauge"
                InstancePrefix "replicate_on_write_stage-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "replicate_on_write_stage-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "replicate_on_write_stage-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "replicate_on_write_stage-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>
        </MBean>

        <MBean "cassandra_stage_RequestResponseStage">
            ObjectName "org.apache.cassandra.request:type=RequestResponseStage"
            <Value>
                Type "gauge"
                InstancePrefix "request_response_stage-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "request_response_stage-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "request_response_stage-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "request_response_stage-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>
        </MBean>

        <MBean "cassandra_internal_AntiEntropySessions">
            ObjectName "org.apache.cassandra.internal:type=AntiEntropySessions"
            <Value>
                Type "gauge"
                InstancePrefix "anti_entropy_sessions-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "anti_entropy_sessions-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "anti_entropy_sessions-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "anti_entropy_sessions-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>

        </MBean>

        <MBean "cassandra_internal_AntiEntropyStage">
            ObjectName "org.apache.cassandra.internal:type=AntiEntropyStage"
            <Value>
                Type "gauge"
                InstancePrefix "anti_entropy_stage-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "anti_entropy_stage-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "anti_entropy_stage-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "anti_entropy_stage-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>

        </MBean>

        <MBean "cassandra_internal_FlushWriter">
            ObjectName "org.apache.cassandra.internal:type=FlushWriter"
            <Value>
                Type "gauge"
                InstancePrefix "flush_writer-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "flush_writer-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "flush_writer-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "flush_writer-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>

        </MBean>

        <MBean "cassandra_internal_GossipStage">
            ObjectName "org.apache.cassandra.internal:type=GossipStage"
            <Value>
                Type "gauge"
                InstancePrefix "gossip_stage-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "gossip_stage-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "gossip_stage-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "gossip_stage-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>

        </MBean>

        <MBean "cassandra_internal_HintedHandoff">
            ObjectName "org.apache.cassandra.internal:type=HintedHandoff"
            <Value>
                Type "gauge"
                InstancePrefix "hinted_handoff-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "hinted_handoff-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "hinted_handoff-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "hinted_handoff-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>
        </MBean>

        <MBean "cassandra_internal_InternalResponseStage">
            ObjectName "org.apache.cassandra.internal:type=InternalResponseStage"
            <Value>
                Type "gauge"
                InstancePrefix "internal_response_stage-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "internal_response_stage-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "internal_response_stage-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "internal_response_stage-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>

        </MBean>

        <MBean "cassandra_internal_MemtablePostFlusher">
            ObjectName "org.apache.cassandra.internal:type=MemtablePostFlusher"
            <Value>
                Type "gauge"
                InstancePrefix "memtable_post_flusher-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "memtable_post_flusher-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "memtable_post_flusher-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "memtable_post_flusher-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>

        </MBean>

        <MBean "cassandra_internal_MigrationStage">
            ObjectName "org.apache.cassandra.internal:type=MigrationStage"
            <Value>
                Type "gauge"
                InstancePrefix "migration_stage-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "migration_stage-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "migration_stage-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "migration_stage-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>
        </MBean>

        <MBean "cassandra_internal_MiscStage">
            ObjectName "org.apache.cassandra.internal:type=MiscStage"
            <Value>
                Type "gauge"
                InstancePrefix "misc_stage-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "misc_stage-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "misc_stage-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "misc_stage-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>
        </MBean>

        <MBean "cassandra_internal_StreamStage">
            ObjectName "org.apache.cassandra.internal:type=StreamStage"
            <Value>
                Type "gauge"
                InstancePrefix "stream_stage-active_count"
                Table false
                Attribute "ActiveCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "stream_stage-completed_tasks"
                Table false
                Attribute "CompletedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "stream_stage-currently_blocked_tasks"
                Table false
                Attribute "CurrentlyBlockedTasks"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "stream_stage-pending_tasks"
                Table false
                Attribute "PendingTasks"
            </Value>
        </MBean>

        <MBean "cassandra_internal_StorageProxy">
            ObjectName "org.apache.cassandra.db:type=StorageProxy"
            <Value>
                Type "gauge"
                InstancePrefix "storage_proxy-recent_read_latency_micros"
                Table false
                Attribute "RecentReadLatencyMicros"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "storage_proxy-recent_write_latency_micros"
                Table false
                Attribute "RecentWriteLatencyMicros"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "storage_proxy-recent_range_latency_micros"
                Table false
                Attribute "RecentRangeLatencyMicros"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "storage_proxy-hints_in_progress"
                Table false
                Attribute "HintsInProgress"
            </Value>
        </MBean>


        <Connection>
            # When using non-standard Cassandra configurations, replace the below with
            #ServiceURL "service:jmx:rmi:///jndi/rmi://CASSANDRA_HOST:CASSANDRA_PORT/jmxrmi"
            ServiceURL "service:jmx:rmi:///jndi/rmi://localhost:7199/jmxrmi"
            InstancePrefix "cassandra"

            Collect "cassandra_storageservice"
            Collect "cassandra_commitlog"
            Collect "cassandra_compactionmanager"
            Collect "cassandra_stage_MutationStage"
            Collect "cassandra_stage_ReadRepairStage"
            Collect "cassandra_stage_ReadStage"
            Collect "cassandra_stage_ReplicateOnWriteStage"
            Collect "cassandra_stage_RequestResponseStage"
            Collect "cassandra_internal_AntiEntropySessions"
            Collect "cassandra_internal_AntiEntropyStage"
            Collect "cassandra_internal_FlushWriter"
            Collect "cassandra_internal_GossipStage"
            Collect "cassandra_internal_HintedHandoff"
            Collect "cassandra_internal_InternalResponseStage"
            Collect "cassandra_internal_MemtablePostFlusher"
            Collect "cassandra_internal_MigrationStage"
            Collect "cassandra_internal_MiscStage"
            Collect "cassandra_internal_StreamStage"
            Collect "cassandra_internal_StorageProxy"
        </Connection>

        {{ jvm.metrics(jmx_port=7199, jmx_port_alt_name='CASSANDRA_PORT', jmx_host_alt_name='CASSANDRA_HOST', service='Cassandra') }}
    </Plugin>
</Plugin>

LoadPlugin match_regex
LoadPlugin target_set
LoadPlugin target_replace
<Chain "GenericJMX_cassandra">
    <Rule "rewrite_genericjmx_to_cassandra">
        <Match regex>
            Plugin "^GenericJMX$"
            PluginInstance "^cassandra.*$"
        </Match>
        <Target "replace">
            PluginInstance "cassandra" ""
        </Target>
        <Target "set">
            Plugin "cassandra"
        </Target>
        Target "return"
    </Rule>
</Chain>

<Chain "PreCache">
    <Rule "jump_to_GenericJMX_cassandra">
        <Target "jump">
            Chain "GenericJMX_cassandra"
        </Target>
    </Rule>
</Chain>
PreCacheChain "PreCache"

{{ jvm.chains() }}
