{% extends 'hbase-098.conf.jinja' -%}
{% block target %}HBase 0.98 and later running in standalone mode
# (all services on the same port){% endblock %}
{% block jmx_port_alt_name %}HBASE_PORT{% endblock %}
{% block host_port_variables %}HBASE_HOST and HBASE_PORT{% endblock %}
{% block jmx_port %}10101{% endblock %}
