{#
Copyright 2015 Google Inc. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}
{% extends "jmx-metrics-base.jinja" %}
{% block header_comment %}
# This is the monitoring configuration for standalone JVMs.
# Replace {% block jmx_host_alt_name %}JMX_HOST{% endblock %} and {% block jmx_port_alt_name %}JMX_PORT{% endblock %} below with the values configured in your JVM deployment.
{% endblock header_comment %}
{% block service %}JVM{% endblock %}
{% block non_java_metrics %}{% endblock %}
{% block service_chains %}{% endblock %}
