{% import 'jvm-sun-hotspot-macros.jinja' as jvm -%}
# Replace JMX_HOST and JMX_PORT below with the values configured in your JVM
# deployment.
LoadPlugin java
<Plugin "java">
    JVMARG "-Djava.class.path=/opt/stackdriver/collectd/share/collectd/java/collectd-api.jar:/opt/stackdriver/collectd/share/collectd/java/generic-jmx.jar"
    LoadPlugin "org.collectd.java.GenericJMX"

    <Plugin "GenericJMX">
        {{ jvm.metrics(jmx_port_alt_name='JMX_PORT', jmx_host_alt_name='JMX_HOST') }}
    </Plugin>
</Plugin>

LoadPlugin match_regex
LoadPlugin target_set
LoadPlugin target_replace
{{ jvm.chains() }}
