{#
Copyright 2015 Google Inc. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}
{% macro mbean(name, mbean_list) %}
  {% do mbean_list.append(name) %}
        <MBean "{{ name }}">
            {{ caller() }}
        </MBean>
{% endmacro %}
{% set jvm_mbeans = [] %}
{% macro metrics(jmx_port='', jmx_host='localhost', jmx_port_alt_name='JMX_PORT', jmx_host_alt_name='JMX_HOST', service='JVM', mbean=mbean) -%}
        {% call mbean("jvm_localhost_Threading", jvm_mbeans) -%}
            ObjectName "java.lang:type=Threading"
            <Value>
                Type "gauge"
                InstancePrefix "threading-daemon_thread_count"
                Table false
                Attribute "DaemonThreadCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "threading-thread_count"
                Table false
                Attribute "ThreadCount"
            </Value>
            <Value>
                Type "gauge"
                InstancePrefix "threading-peak_thread_count"
                Table false
                Attribute "PeakThreadCount"
            </Value>
        {%- endcall %}

        {% call mbean("jvm_localhost_Memory", jvm_mbeans) -%}
            ObjectName "java.lang:type=Memory"
            <Value>
                Type "memory"
                InstancePrefix "memory-heap_usage_committed"
                Table false
                Attribute "HeapMemoryUsage.committed"
            </Value>
            <Value>
                Type "memory"
                InstancePrefix "memory-non_heap_usage_committed"
                Table false
                Attribute "NonHeapMemoryUsage.committed"
            </Value>
            <Value>
                Type "memory"
                InstancePrefix "memory-heap_usage_used"
                Table false
                Attribute "HeapMemoryUsage.used"
            </Value>
            <Value>
                Type "memory"
                InstancePrefix "memory-non_heap_usage_used"
                Table false
                Attribute "NonHeapMemoryUsage.used"
            </Value>
            <Value>
                Type "memory"
                InstancePrefix "memory-heap_usage_max"
                Table false
                Attribute "HeapMemoryUsage.max"
            </Value>
            <Value>
                Type "memory"
                InstancePrefix "memory-non_heap_usage_max"
                Table false
                Attribute "NonHeapMemoryUsage.max"
            </Value>
        {%- endcall %}

        {% call mbean("jvm_localhost_Runtime", jvm_mbeans) -%}
            ObjectName "java.lang:type=Runtime"
            <Value>
                Type "counter"
                InstancePrefix "runtime-uptime"
                Table false
                Attribute "Uptime"
            </Value>
        {%- endcall %}

        {% call mbean("jvm_localhost_os", jvm_mbeans) -%}
            ObjectName "java.lang:type=OperatingSystem"
            <Value>
                Type "gauge"
                InstancePrefix "os-open_fd_count"
                Table false
                Attribute "OpenFileDescriptorCount"
            </Value>
            <Value>
                Type "counter"
                InstancePrefix "os-process_cpu_time"
                Table false
                Attribute "ProcessCpuTime"
            </Value>
        {%- endcall %}

        {% call mbean("jvm_localhost_gc", jvm_mbeans) -%}
            ObjectName "java.lang:type=GarbageCollector,name=*"
            InstanceFrom "name"
            <Value>
                Type "counter"
                InstancePrefix "gc-collection_count"
                Table false
                Attribute "CollectionCount"
            </Value>
            <Value>
                Type "counter"
                InstancePrefix "gc-collection_time"
                Table false
                Attribute "CollectionTime"
            </Value>
        {%- endcall %}

        <Connection>
            {% if jmx_port %}
            # When using non-standard {{service}} configurations, replace the below with
            #ServiceURL "service:jmx:rmi:///jndi/rmi://{{jmx_host_alt_name}}:{{jmx_port_alt_name}}/jmxrmi"
            ServiceURL "service:jmx:rmi:///jndi/rmi://{{jmx_host}}:{{jmx_port}}/jmxrmi"
            {% else %}
            ServiceURL "service:jmx:rmi:///jndi/rmi://{{jmx_host_alt_name}}:{{jmx_port_alt_name}}/jmxrmi"
            {% endif %}
            InstancePrefix "jvm"

    {% for mbean in jvm_mbeans %}
            Collect "{{ mbean }}"
    {% endfor %}
        </Connection>
{%- endmacro %}

{% macro chains() -%}
<Chain "GenericJMX_jvm">
    <Rule "rewrite_genericjmx_to_jvm">
        <Match regex>
            Plugin "^GenericJMX$"
            PluginInstance "^jvm.*$"
        </Match>
        <Target "replace">
            PluginInstance "jvm" ""
        </Target>
        <Target "set">
            Plugin "jvm"
        </Target>
        Target "return"
    </Rule>
</Chain>

<Chain "PreCache">
    <Rule "jump_to_GenericJMX_jvm">
        <Target "jump">
            Chain "GenericJMX_jvm"
        </Target>
    </Rule>
</Chain>
PreCacheChain "PreCache"
{%- endmacro %}
