{#
Copyright 2015 Google Inc. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}
# This is the monitoring configuration for MySQL.
# NOTE: This configuration needs to be hand-edited in order to work.
# Look for DATABASE_NAME, STATS_USER, STATS_PASS, MYSQL_HOST and MYSQL_PORT to adjust your configuration file.
LoadPlugin mysql
<Plugin "mysql">
    # Each database needs a separate Database section.
    # Replace DATABASE_NAME in the Database section with the name of the database.
    <Database "DATABASE_NAME">
        # When using non-standard MySQL configurations, replace the below with
        #Host "MYSQL_HOST"
        #Port "MYSQL_PORT"
        Host "localhost"
        Port 3306
        User "STATS_USER"
        Password "STATS_PASS"
    </Database>
</Plugin>
